// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
}

span {
  display: block;
  font-size: 90%;
}

.container {
  .search_form {
    margin: 0 auto;
    text-align: center;
    .field_search {
      width: 350px;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #656769;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn_search {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
      margin-bottom: 3px;
    }
  }
  .content_main {
    display: flex;

    .left_box {
      min-height: 600px;
      max-height: 800px;
      width: 200px;
      background-color: white;
      margin-left: 20px;
      margin-top: 30px;
      border-radius: 10px;
      .left_box_title {
        padding: 10px 0px 10px 8px;
        font-weight: bold;
        border-top: solid 3px red;
        border-radius: 6px;
        border-bottom: solid 1px gainsboro;
        margin-bottom: 8px;
      }
      .categorys {
        margin-left: 12px;
        .category {
          .category_box {
            display: flex;
            .category_name {
              color: #0000dd;
            }
            .category_name_count {
              margin-left: 4px;
              color: #666666;
              font-size: 82%;
              padding-top: 4px;
            }
          }
        }
      }
    }

    .user_report_box {
      margin-left: 50px;

      .user_report {
        .user_report_lists {
          display: flex;
          .user_report_list {
            margin-right: 20px;

            .userReportItem {
              padding: 0.5em 1em;
              margin: 2em 0 0px;
              color: #5d627b;
              background: white;
              border-top: solid 5px #5d627b;
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

              .reportImg {
                .reportImgItem {
                  margin-top: 15px;
                  text-align: center;
                }
              }

              .reportRev {
                width: 300px;
                padding-left: 20px;

                .reportRevIn {
                  .reportRevMain {
                    position: relative;
                    display: inline-block;
                    margin: 5px 0 1em 15px;
                    padding: 7px 10px;
                    min-width: 270px;
                    max-width: 100%;
                    color: #555;
                    font-size: 16px;
                    background: #fff;
                    border: solid 3px #555;
                    box-sizing: border-box;
                    border-radius: 10px;

                    ::before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: -24px;
                      margin-top: -12px;
                      border: 12px solid transparent;
                      border-right: 12px solid #fff;
                      z-index: 2;
                    }

                    ::after {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: -30px;
                      margin-top: -14px;
                      border: 14px solid transparent;
                      border-right: 14px solid #555;
                      z-index: 1;
                    }

                    .reportRevHead {
                      margin-bottom: 7px;
                    }

                    .reportRevFace {
                      margin-right: 5px;
                    }

                    .reportRevBox {
                      .reportRevTitle {
                        display: inline;
                        color: #cc0000;
                        font-weight: bold;
                        font-size: 15px;
                      }
                    }
                    .reportRevCont {
                      display: flex;

                      .reportRevItem {
                        margin-right: 10px;

                        .reportRevItem_name {
                          font-weight: bold;
                          line-height: 135%;
                          letter-spacing: 0.03em;
                          color: #0000dd;
                          font-size: 13px;
                          display: block;
                          margin-bottom: 2px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.pagination .page-item .page-link {
  color: #4cae4c;
}

.pagination .page-item.active .page-link {
  color: white;
  background-color: #4cae4c;
  border: 1px solid #ddd;
}

footer {
  margin-top: 50px;
  padding: 4em 0;
  background: #323a45;
  color: #878c93;
  bottom: 0;
  font-weight: 300;

  .footer-logo {
    a {
      font-size: 20px;
      letter-spacing: 2px;
      color: #ccc;
      padding: 7px 10px 7px 12px;
    }
  }
}
